body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.choices {
    display: flex;
    justify-content: center;
    
}

.options {
    border: 1px dashed royalblue;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #404040;
    padding: 30px;
    margin: 20px 40px;
}

.customOrders {
    margin: 30px;
}